synapsepoc/pipeline/Copy raw NYC taxi fare and trip data.json
{
	"name": "Copy raw NYC taxi fare and trip data",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_source_param",
						"type": "DatasetReference",
						"parameters": {
							"keyVaultName": {
								"value": "@pipeline().parameters.KeyVaultName",
								"type": "Expression"
							},
							"datalakeAccountName": {
								"value": "@pipeline().parameters.datalakeAccountName",
								"type": "Expression"
							},
							"filePath": {
								"value": "@pipeline().parameters.metadataFilePath",
								"type": "Expression"
							},
							"fileName": "nyc-tlc-raw-test.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy nyc taxi data to data lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_http_csv_param",
									"type": "DatasetReference",
									"parameters": {
										"baseURL": {
											"value": "@item().sourceBaseURL",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().sourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_sink_param",
									"type": "DatasetReference",
									"parameters": {
										"keyVaultName": {
											"value": "@pipeline().parameters.KeyVaultName",
											"type": "Expression"
										},
										"datalakeAccountName": {
											"value": "@pipeline().parameters.datalakeAccountName",
											"type": "Expression"
										},
										"filePath": {
											"value": "@item().sinkFilePath",
											"type": "Expression"
										},
										"fileName": "nyc-tlc-raw.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"KeyVaultName": {
				"type": "string",
				"defaultValue": "kvspoexxbkqfmujmvmpoc"
			},
			"datalakeAccountName": {
				"type": "string",
				"defaultValue": "spoexxbkqfmujmvmpoc"
			},
			"metadataFilePath": {
				"type": "string",
				"defaultValue": "raw/metadata"
			},
			"metadataFileName": {
				"type": "string",
				"defaultValue": "nyc-tlc-raw-test.csv"
			}
		},
		"folder": {
			"name": "Delta Lake Workshop"
		},
		"annotations": []
	}
}